<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseExample">
      Add Game
    </button>
    <div class="collapse" id="collapseForm">
      <form ng-submit="submitGame()">
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>